<html style="background: #313336;font: icon;font-size: 20px; text-align: center;">
    <body style="-webkit-user-select: none; -webkit-app-region: drag;">
        <img src="assets/images/icon.png" style="width: 150px;padding-bottom: 40px;padding-top: 20px;">
        <br>
        </div>
        <progress id="updateProgress" max="100" value="50" style="height: 16px; background-color: #8b8b8b"> prog </progress>
        <p id="updateText" style="color: white" >Checking for updates</p>
    </body>


    <script src="./assets/js/scripts/autoUpdater.js"></script>
</html>