<img src="assets/images/icons/xbox_one_logo.svg" style="display:block;margin-left:auto;margin-right:auto;width:20%;">
<br>
<span style="display:block;text-align:center;">Logging in to Xbox Live...</span>